<!-- resources  -->&#13;
						</br>
						<table class="social" width="100%" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; background-color: #ebebeb; margin: 0; padding: 0;" bgcolor="#ebebeb"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><h5 class="" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #000; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">Resource {{id}}</h5>&#13;
							</tr><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">&#13;
									<span class="line" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: bold; margin: 0; padding: 0 0 0 4px;"> Core Plataform </span> {{core_plataform}}  </br>
									<span class="line" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: bold; margin: 0; padding: 0 0 0 4px;">Resource Type </span>{{resource_type}} </br>
									<span class="line" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: bold; margin: 0; padding: 0 0 0 4px;">Number of Resources </span>{{number_of_resources}} </br>
									</br>
									<span class="line" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: bold; margin: 0; padding: 0 0 0 4px;">Special skill required</span></br>
									<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">&#13;
										{{special_skill_required}}</br>
									</p></br>
									</br>
									<span class="line" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: bold; margin: 0; padding: 0 0 0 4px;">Resource location </span>{{resource_location}} </br>
									<span class="line" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: bold; margin: 0; padding: 0 0 0 4px;">Travel acceptable </span>{{travel_acceptable}} </br>
									<span class="line" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: bold; margin: 0; padding: 0 0 0 4px;">Target start date </span>{{target_start_date}} </br>
									<span class="line" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: bold; margin: 0; padding: 0 0 0 4px;">Estimated duration </span>{{estimated_duration}} </br>
									<span class="line" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: bold; margin: 0; padding: 0 0 0 4px;">Language requirement </span>{{language_requirement}} </br>
									</br>
									
								</td></br>
							</br>
						</table><!-- Resources -->